
// --------
// Keystack
// --------

main {
  height: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
}

body {
  font-family: $sans;
  background: $grey-6;
  color: $grey-0;

  &.cursor--lr { cursor: ew-resize }
  &.cursor--move { cursor: move }

  &[class^='cursor--'] {
    & * {
      user-select: none;
      pointer-events: none;
    }
  }
}
