
// --------
// Keystack
// --------
.app {
  padding: 2rem;
  max-width: 56rem;
  margin: auto;
  align-items: stretch;
  align-content: stretch;
  flex-flow: column;
  justify-content: space-between;
  display: flex;
}
main {
  height: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
}
body {
  font-family: $sans;
  background: $grey-6;
  color: $grey-0;
  &.cursor--lr,
  &.cursor--lr label {
    cursor: ew-resize !important;
    user-select: none;
  }
}
#chart {
  margin-bottom: 2rem;
  svg {
    width: 100%;
    height: 100%;
    stroke-linecap: butt;
  }
}
.status-bar {
  height: 2rem;
  display: flex;
  background-color: $grey-5;
  border-radius: $radius;
  .file-operations {
    display: flex;
    width: calc(50% + 1rem);
  }
  .inputs {
    display: flex;
    width: calc(50% - 3rem);
    align-items: center;
  }
}
.play-area,
.settings {
  width: calc((100% - 2rem) / 2)
}
.info-section {
  display: flex;
  margin-bottom: 1rem;
}
.section-icon {
  margin-right: 0.5rem;
}
.icon--eye{
  transform: translateY(-0.5rem);
  flex: 0;
  .icon--eye--fill {
    fill: $grey-1;
    stroke: none;
    opacity: 0;
    transform: scale(0.5);
    transition: 0.5s ease;
  }
  &.on {
    .icon--eye--fill {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.icon--midi{
  &.on {
    .icon--midi--black {
      fill: $grey-1;
    }
  }
}
.viewer {
  margin-bottom: 0.5rem;
}
.note-viewer {
  font-weight: 700;
  // font-size: 0.8rem;
}
.chord-viewer {
  line-height: 1.5;
}
.empty {
  color: $grey-5;
}
.notes {
  display: inline-block;
  margin-right: 0.25rem;
}
.chord {
  margin-right: 1rem;
  .root {
    font-weight: 700;
    margin-right: 0.2em;
  }
}

.axis {
  & text {
    font-size: 13px;
    fill: $grey-0;
  }
}
text.title {
  font-size: 24px;
}
circle.tick {
  fill: $grey-5;
  stroke-dasharray: 2 3;
}
path.spiral {
  fill: none;
  stroke-width: 14px;
  transition: 0.3s ease-out;
  &.black {
    stroke: $grey-0;
  }
  &.white {
    stroke: $grey-6;
  }
  &.on {
    transition: 0s ease;
    stroke: $orange;
  }
}
