$grey-6: #fdfcfb;
$grey-5: #e8e9eb;
$grey-4: #cdd1d3;
$grey-3: #b3b3b4;
$grey-2: #7c7c7e;
$grey-1: #5a5a5c;
$grey-0: #444649;
$orange: #FF9800;
$orange-bright: #FFA850;

$sans: 'Alegreya Sans', sans-serif;
$sc: 'Alegreya Sans SC', sans-serif;

$radius: 0.2rem;

%sc {
  font-family: $sc;
  text-transform: lowercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  line-height: 1rem;
}

svg:not(:root) {
  overflow: visible;
}
svg {
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
line, path {
  stroke: inherit;
  stroke-width: inherit;
  stroke-linecap: inherit;
  stroke-linejoin: inherit;
}
