input,
optgroup,
select,
textarea {
  font-family: inherit;
}

%button-reset {
  line-height: 1;
  padding: 0;
  appearance: none;
  border: 0;
  cursor: pointer;
  background: none;
}

%button {
  @extend %button-reset;
  padding: 0.2rem 0.4rem 0.25rem;
  background: $grey-1;
  color: $grey-6;
  border-radius: $radius;
  @extend %sc;
  &:hover,
  &:focus {
    background: $grey-2;
  }
}

%hidden-but-focusable {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  opacity: 0;
}

.hide-input {
  @extend %hidden-but-focusable;
}
.delete-osc {
  display: inline-block;
  margin-left: 0.5rem;
}

// .select {
//   position: relative;
//   display: inline-block;
//   color: $grey-6;
// }
// .select select {
//   @extend %button;
//   display: inline-block;
//   padding: 0.2rem 1.5rem 0.25rem 0.4rem;
//   width: 100%;
//   margin: 0;
//   @extend %sc;
//   outline: 0;
//   -webkit-appearance: none;
//      -moz-appearance: none;
//           appearance: none;
// }
// /* Undo the Firefox inner focus ring */
// .select select:focus:-moz-focusring {
//   color: transparent;
//   text-shadow: 0 0 0 #000;
// }
// /* Dropdown arrow */
// .select:after {
//   position: absolute;
//   top: 50%;
//   right: 0.5rem;
//   display: inline-block;
//   content: "";
//   width: 0;
//   height: 0;
//   margin-top: -0.15rem;
//   pointer-events: none;
//   border-top: 0.35rem solid;
//   border-right: 0.35rem solid transparent;
//   border-bottom: 0.35rem solid transparent;
//   border-left: 0.35rem solid transparent;
// }

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/

/* Focus */
.select select:focus {
  box-shadow: 0 0 0 0.1rem $grey-3;
}

/* Active/open */
.select select:active {
  background-color: $grey-2;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: 0.01px;
    text-overflow: "";
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #fff;
  }
}

.piano-checkboxes {
  display: flex;
  padding-top: 2rem;
}
.replaced-checkbox {
  position: relative;
  margin: 0 0.2rem;
  padding: 12% 0 0;
  width: 12%;
  input {
    @extend %hidden-but-focusable;
  }
  &.black {
    margin-right: -0.8rem;
    margin-left: -0.8rem;
    top: -1.7rem;
  }
  input:focus + .checkbox-replacement {
    border-color: $grey-4;
  }
  .checkbox-check {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 0.5rem;
    height: 0.5rem;
    background-color: $grey-6;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%) scale(0.7, 0.7);
    transition: 0.2s ease;
    opacity: 0;
    &.active {
      transform: translate(-50%, -50%) scale(1, 1);
      opacity: 1;
    }
  }
}
.checkbox-replacement {
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: 2px solid $grey-1;
}
