*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  --white: #fdfcfb;
  --grey-8: #f2f1f0;
  --grey-7: #e8e9eb;
  --grey-6: #cdd1d3;
  --grey-5: #949496;
  --grey-4: #87878b;
  --grey-3: #7c7c7f;
  --grey-2: #5a5a5f;
  --grey-1: #444649;
  --grey-0: #3a3b3e;
  --black: #303134;

  --orange-dark: #f98e00;
  --orange: #ffa850;
  --orange-bright: #ffd4ae;
  --red-dark: #f76d6d;
  --red: #ff7e7b;
  --red-bright: #ffc5c5;
  --magenta-dark: #f067ab;
  --magenta: #ff8dbb;
  --magenta-bright: #ffcfe6;
  --purple-dark: #9b7ff2;
  --purple: #bba5ff;
  --purple-bright: #d4caff;
  --blue-dark: #5b94ef;
  --blue: #8db9ff;
  --blue-bright: #b8d5ff;
  --aqua-dark: #1cc9bc;
  --aqua: #6fddd0;
  --aqua-bright: #b0f7ee;
  --green-dark: #6bc93f;
  --green: #94ed6b;
  --green-bright: #caf9b2;
  --yellow-dark: #fcbd30;
  --yellow: #ffd149;
  --yellow-bright: #ffeea4;
  --accent-dark: var(--orange-dark);
  --accent: var(--orange);
  --accent-bright: var(--orange-bright);

  --sans: "Source Sans Pro", sans-serif;
  --sc: "Source Sans Pro", sans-serif;

  --radius: 3px;
  --radius-large: 7px;
}

.theme--light {
  --background-elevated: #ffffff;
  --background: #f8f7f5;
  --background-recessed: #eeedea;
  --background-deep: #e2e0de;
  --foreground-llllll: #d3d1cf;
  --foreground-lllll: #c2c0bf;
  --foreground-llll: #afacab;
  --foreground-lll: #9a9493;
  --foreground-ll: #827776;
  --foreground-l: #645455;
  --foreground: #362727;
}
.theme--dark {
  --foreground: #f5eee8;
  --foreground-l: #d3c6be;
  --foreground-ll: #ad9f99;
  --foreground-lll: #8b7c79;
  --foreground-llll: #6d6261;
  --foreground-lllll: #574e4f;
  --foreground-llllll: #453e40;
  --background-elevated: #373133;
  --background: #2c272a;
  --background-recessed: #231e21;
  --background-deep: #1c181b;
}
