*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

html,
body {
  overflow: hidden;
}

body {
  font-family: $sans;
  background: $grey-6;
  color: $grey-0;

  &.cursor--tb {
    cursor: ew-resize;
  }
  &.cursor--move {
    cursor: move;
  }

  &[class^="cursor--"] {
    & * {
      user-select: none;
      pointer-events: none;
    }
  }
}

:root {
  --white: #fdfcfb;
  --black: #303134;
  --shading: rgba(0, 0, 0, 0.1);

  --orange-dark: #f98e00;
  --orange: #ffa850;
  --orange-bright: #ffd4ae;
  --red-dark: #f76d6d;
  --red: #ff7e7b;
  --red-bright: #ffc5c5;
  --magenta-dark: #f067ab;
  --magenta: #ff8dbb;
  --magenta-bright: #ffcfe6;
  --purple-dark: #9b7ff2;
  --purple: #bba5ff;
  --purple-bright: #d4caff;
  --blue-dark: #5b94ef;
  --blue: #8db9ff;
  --blue-bright: #b8d5ff;
  --aqua-dark: #1cc9bc;
  --aqua: #6fddd0;
  --aqua-bright: #b0f7ee;
  --green-dark: #6bc93f;
  --green: #94ed6b;
  --green-bright: #caf9b2;
  --yellow-dark: #eda917;
  --yellow: #f2c233;
  --yellow-bright: #fee98c;
  --accent-dark: var(--orange-dark);
  --accent: var(--orange);
  --accent-bright: var(--orange-bright);

  --sans: "Source Sans Pro", sans-serif;
  --sc: "Source Sans Pro", sans-serif;

  --radius: 4px;
  --radius-outer: 5px;
  --radius-large: 7px;
}

.theme--light {
  --grey-0: hsl(52.6, 24.64%, 100%);
  --grey-1: hsl(41.06, 18.54%, 96.71%);
  --grey-2: hsl(31.45, 14.19%, 93.24%);
  --grey-3: hsl(23.57, 11.01%, 89.53%);
  --grey-4: hsl(17.2, 8.74%, 85.46%);
  --grey-5: hsl(12.14, 7.21%, 80.9%);
  --grey-6: hsl(8.22, 6.34%, 75.61%);
  --grey-7: hsl(5.24, 6.06%, 69.2%);
  --grey-8: hsl(3.07, 6.37%, 61.03%);
  --grey-9: hsl(1.55, 7.25%, 50.2%);
  --grey-10: hsl(0.57, 8.73%, 35.83%);
  --grey-11: hsl(0, 10.87%, 18.24%);

  --bg-elevated: var(--grey-0);
  --bg: var(--grey-1);
  --bg-recessed: var(--grey-2);
  --bg-deep: var(--grey-3);
  --bg-deepest: var(--grey-4);

  --fg-8: var(--grey-3);
  --fg-7: var(--grey-4);
  --fg-6: var(--grey-5);
  --fg-5: var(--grey-6);
  --fg-4: var(--grey-7);
  --fg-3: var(--grey-8);
  --fg-2: var(--grey-9);
  --fg-1: var(--grey-10);
  --fg: var(--grey-11);

  --tick: var(--fg-5);
  --shadow-raised: 0 -15px 15px -15px rgba(0, 0, 0, 0.05) inset,
    0 0.5px 0 rgba(255, 255, 255, 0.7) inset,
    0 -0.5px 0 0.5px rgba(0, 0, 0, 0.1) inset, 0 1px 7px rgba(0, 0, 0, 0.1);
}
.theme--dark {
  --grey-0: hsl(27.95, 21.74%, 94.12%);
  --grey-1: hsl(14.43, 12.62%, 78.3%);
  --grey-2: hsl(2.35, 7.86%, 61.15%);
  --grey-3: hsl(351.75, 5.22%, 45.85%);
  --grey-4: hsl(342.52, 3.87%, 34.83%);
  --grey-5: hsl(334.52, 3.43%, 27.24%);
  --grey-6: hsl(327.59, 3.65%, 21.76%);
  --grey-7: hsl(321.56, 4.39%, 17.59%);
  --grey-8: hsl(316.3, 5.55%, 14.26%);
  --grey-9: hsl(311.7, 7.05%, 11.53%);
  --grey-10: hsl(307.67, 8.84%, 9.23%);
  --grey-11: hsl(304.11, 10.87%, 7.25%);

  --fg: var(--grey-0);
  --fg-1: var(--grey-1);
  --fg-2: var(--grey-2);
  --fg-3: var(--grey-3);
  --fg-4: var(--grey-4);
  --fg-5: var(--grey-5);
  --fg-6: var(--grey-6);
  --fg-7: var(--grey-7);
  --fg-8: var(--grey-8);

  --bg-elevated: var(--grey-7);
  --bg: var(--grey-8);
  --bg-recessed: var(--grey-9);
  --bg-deep: var(--grey-10);
  --bg-deepest: var(--grey-11);

  --tick: var(--fg-7);
  --shadow-raised: 0 15px 15px -15px rgba(255, 255, 255, 0.05) inset,
    0 0.5px 0 rgba(255, 255, 255, 0.1) inset,
    0 -0.5px 0 0.5px rgba(0, 0, 0, 0.3) inset, 0 1px 5px rgba(0, 0, 0, 0.2);
}

.type--volume {
  --accent-dark: var(--blue-dark);
  --accent: var(--blue);
  --accent-bright: var(--blue-bright);
}
.type--pitch {
  --accent-dark: var(--red-dark);
  --accent: var(--red);
  --accent-bright: var(--red-bright);
}
.type--filter {
  --accent-dark: var(--magenta-dark);
  --accent: var(--magenta);
  --accent-bright: var(--magenta-bright);
}
.type--fx {
  --accent-dark: var(--green-dark);
  --accent: var(--green);
  --accent-bright: var(--green-bright);
}
.type--time {
  --accent-dark: var(--yellow-dark);
  --accent: var(--yellow);
  --accent-bright: var(--yellow-bright);
}
