*,
*::before,
*::after {
  box-sizing: border-box
}

html,
body,
#root,
.app {
  position: absolute
  width: 100%
  height: 100%
}

:root {
  --white: #FDFCFB;
  --grey-7: #F2F1F0;
  --grey-6: #E8E9EB;
  --grey-5: #CDD1D3;
  --grey-4: #949496;
  --grey-3: #87878B;
  --grey-2: #7C7C7F;
  --grey-1: #5A5A5F;
  --grey-0: #444649;
  --black: #3A3B3E;

  --orange-dark:    #F98E00;
  --orange:         #FFA850;
  --orange-bright:  #FFD4AE;
  --red-dark:       #F76D6D;
  --red:            #FF7E7B;
  --red-bright:     #FFC5C5;
  --magenta-dark:   #F067AB;
  --magenta:        #FF8DBB;
  --magenta-bright: #FFCFE6;
  --purple-dark:    #9B7FF2;
  --purple:         #BBA5FF;
  --purple-bright:  #D4CAFF;
  --blue-dark:      #5B94EF;
  --blue:           #8DB9FF;
  --blue-bright:    #B8D5FF;
  --aqua-dark:      #1CC9BC;
  --aqua:           #6FDDD0;
  --aqua-bright:    #B0F7EE;
  --green-dark:     #6BC93F;
  --green:          #94ED6B;
  --green-bright:   #CAF9B2;
  --yellow-dark:    #FCBD30;
  --yellow:         #FFD149;
  --yellow-bright:  #FFEEA4;
  --accent-dark:      var(--orange-dark);
  --accent:           var(--orange);
  --accent-bright:    var(--orange-bright);


  --sans: 'Source Sans Pro', sans-serif;
  --sc: 'Source Sans Pro', sans-serif;

  --radius: 3px;
}
