.settings {
  display: flex;
  flex-flow: column;
  background-color: $grey-0;
  color: $grey-6;
  border-radius: $radius;
  &.add-open {
    .settings-container-add {
      height: 12rem;
      box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
    }
  }
  .settings-container {
    overflow: scroll;
    transition: height 0.2s ease, max-height 0.2s ease, box-shadow 0.2s ease;
  }
  .settings-container-main {
    flex: 1 1 1rem;
  }
  .settings-container-add {
    height: 0;
  }
  .settings-inner-container {
    padding: 2rem;
  }
  .settings-section{
    position: relative;
  }
  .settings-title {
    @extend %sc;
    margin: 0;
    color: $grey-2;
  }
  .item {
    margin: 0 -2rem;
    padding: 1rem 2rem;
    &.selected {
      background-color: $grey-1;
    }
    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      line-height: 1;
      .title {
        margin: 0;
        -webkit-font-smoothing: antialiased;
      }
    }
    section {
      margin-bottom: 1rem;
    }
  }
  hr {
    display: block;
    border: 0;
    border-top: 2px solid $grey-1;
    margin: 0;
    &.section-splitter {
      margin: 2rem -2rem;
    }
  }
  .add-button {
    @extend %sc;
    width: 5rem;
  }
  .add-item-option {
    display: block;
    margin-bottom: 0.25rem;
    &:hover {
      color: $orange-bright;
    }
  }
  .add-item-toggle {
    width: 2rem;
    margin: auto;
    text-align: center;
    font-weight: 700;
  }
}

.osc {
  display: flex;
  line-height: 2rem;
  .title {
    margin-right: 1rem;
    display: block;
    @extend %sc;
  }
  .fader {
    margin: 0 0 0 1rem;
    flex: 1;
  }
}

.midi-manufacturer {
  margin-right: 0.5rem;
}
.midi-manufacturer {
  font-family: $sc;
  text-transform: lowercase;
  color: $orange-bright;
}
.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  fill: none;
  stroke: $grey-1;
  stroke-width: 2px;
  stroke-linecap: round;
  transition: 0.2s ease;
}
.icon--wave {
  display: inline-block;
}
:checked + .icon {
  stroke: $grey-6;
}
.vis-path {
  overflow: visible;
  margin: 1rem 0 2rem;
  stroke: $grey-4;
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  .graph-axis,
  .grid {
    line,
    path {
      stroke-linecap: butt;
      stroke-width: 1px;
    }
  }
  .grid {
    opacity: 0.5;
    .domain {
      display: none;
    }
    stroke: $grey-1;
  }
}
.graph-axis {
  font-family: unset;
  font-size: 10px;
  .tick {
    fill: $grey-4;
  }
  text {
    fill: $grey-4;
    stroke: none;
  }
}
.filter-phase {
  stroke: $grey-1;
}
.envelope {
  .vis-path {
    padding: 0.5rem;
    fill: unset;
  }
  .dot {
    fill: $grey-0;
  }
}
.compressor-container {
  display: flex;
  .vis {
    margin-right: 2rem;
  }
  .vis-path {
    margin: 0 0 1rem;
  }
  .flex-container {
    .control {
      width: 50%;
    }
  }
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: -1rem;
}
.fader {
  margin: 1rem 0 0 0;
  &.small {
    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  &.right {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    svg {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
  &.disabled {
    opacity: 0.1;
    pointer-events: none;
  }
  label {
    display: block;
    width: 100%;
    @extend %sc;
  }
  svg {
    display: block;
    margin: 0.5rem 0 0.2rem;
    width: 3rem;
    height: 3rem;
    &:hover {
      .fader-knob {
        opacity: 1;
      }
    }
  }
  &.active {
    .fader-knob {
      opacity: 1;
    }
  }
  .fader-knob {
    transition: 0.2s ease;
    fill: $grey-1;
    opacity: 0;
  }
  .fader-track {
    stroke: $grey-1;
  }
  .fader-value {
    stroke: $grey-6;
  }
  .input-output {
    position: relative;
    flex: 1;
    height: 1rem;
    input,
    output {
      @extend %sc;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
    input {
      position: absolute;
      padding: 0.3rem 0.5rem;
      top: -0.3rem;
      left: -0.5rem;
      bottom: -0.3rem;
      right: -0.5rem;
    }
  }
  input {
    display: block;
    appearance: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    flex: 1;
  }
}
.draggable {
  cursor: ew-resize;
}
.tri {
  width: calc(100% / 3);
}
.quad {
  width: calc(100% / 4);
}
.six {
  width: calc(100% / 6);
}
input {
  width: 100%;
}

.sample{
  .frame,
  .loop-bar,
  .loop-marker,
  .start-marker,
  .start-marker-flag {
    stroke-width: 1px;
  }
  .frame {
    stroke: $grey-1;
  }
  .start-marker-flag {
    fill: $grey-4;
  }
  .sample-text {
    display: none;
    @extend %sc;
    font-size: 0.6rem;
    fill: $grey-4;
    stroke: none;
  }
  .vis-path {
    margin-bottom: 0.5rem;
    &.empty {
      .empty-text {
        display: block;
      }
      .waveform {
        stroke: $grey-1;
      }
    }
    &.dragging {
      background-color: $grey-1;
      .drop-text {
        display: block;
      }
      .empty-text {
        display: none;
      }
    }
  }
  .inactive-cover {
    fill: $grey-0;
    stroke: $grey-0;
    opacity: 0.9;
  }
}
.sample-info {
  @extend %sc;
  display: flex;
  white-space: nowrap;
  margin-bottom: 1rem;
  .name {
    overflow: scroll;
  }
  .size {
    color: $grey-3;
    margin-left: 1rem;
  }
}
