$grey-6: #fdfcfb;
$grey-5: #e8e9eb;
$grey-4: #cdd1d3;
$grey-3: #b3b3b4;
$grey-1: #7c7c7e;
$grey-0: #545659;
$orange: #FF9800;
$orange-bright: #FFA850;


body {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 40px;
  background: $grey-6;
  color: $grey-0;
}
h1 {
  margin-top: 0;
}
svg {
  width: 100%;
}
.app {
  display: flex;
}

// ---
// HUD
// ---

.settings {
  display: flex;
  flex-flow: column;
  background-color: $grey-0;
  color: $grey-6;
  border-radius: 0.2rem;
  padding: 2rem;
}
.osc {
  display: flex;
  line-height: 2rem;
  .title {
    margin-right: 1rem;
  }
}
.viewer {
  max-width: 12rem;
  height: 1.2rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: scroll;
}
.notes {
  display: inline-block;
  margin-right: 0.25rem;
}
.midi-manufacturer {
  margin-right: 0.5rem;
}
.midi-manufacturer,
.quality {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: lowercase;
  color: $orange-bright;
}
.hide-input {
  display: none;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  fill: none;
  stroke: $grey-1;
  stroke-width: 2px;
  stroke-linecap: round;
  transition: 0.2s ease;
}
:checked + .icon {
  stroke: $grey-6;
}
.envelope {
  max-width: 16rem;
  .envelope-path {
    overflow: visible;
    margin: 2rem 0;
    stroke: $grey-3;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .dot {
    fill: $grey-0;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
  }
}
.tri {
  width: calc(100% / 3);
}
input {
  width: 100%;
}

// ----
// Keystack
// ----

#chart {
  margin-right: 2rem;
}
.axis {
  & path {
    fill: none;
    stroke: #999;
    stroke-dasharray: 2 3;
  }
  & text {
    font-size: 13px;
    fill: $grey-0;
  }
}
text.title {
  font-size: 24px;
}
circle.tick {
  fill: $grey-5;
  stroke-dasharray: 2 3;
}
path.spiral {
  fill: none;
  stroke-width: 14px;
  transition: 0.3s ease-out;
  &.black {
    stroke: $grey-0;
  }
  &.white {
    stroke: $grey-6;
  }
  &.on {
    transition: 0s ease;
    stroke: $orange;
  }
}

// ----
// Help
// ----

.help {
  display: flex;
  justify-content: flex-start;
  section {
    margin-right: 2rem;
  }
}
kbd {
  font-family: inherit;
  text-transform: uppercase;
  background: $grey-0;
  color: $grey-5;
  width: 1rem;
  height: 1rem;
  font-size: 0.6rem;
  line-height: 1rem;
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0.2rem;
  text-align: center;
}
.keyboard {
  .row {
    display: flex;
    justify-content: center;
    kbd {
      border-width: 1px;
      border-style: solid;
      margin: 0.1rem;
      &[disabled] {
        opacity: 0.2;
      }
    }
    &.black {
      kbd {
        border-color: $grey-0;
      }
    }
    &.white {
      kbd {
        color: $grey-0;
        background: $grey-6;
        border-color: $grey-4;
      }
    }
  }
}
