@import '~normalize.css';
@import '~normalize-opentype.css/normalize-opentype.scss';

$grey-6: #fdfcfb;
$grey-5: #e8e9eb;
$grey-4: #cdd1d3;
$grey-3: #b3b3b4;
$grey-2: #7c7c7e;
$grey-1: #5c5c5e;
$grey-0: #444649;
$orange: #FF9800;
$orange-bright: #FFA850;

$sans: 'Alegreya Sans', sans-serif;
$sc: 'Alegreya Sans SC', sans-serif;

%sc {
  font-family: $sc;
  text-transform: lowercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}
body {
  font-family: $sans;
  margin: 40px;
  background: $grey-6;
  color: $grey-0;
  &.cursor--lr,
  &.cursor--lr label {
    cursor: ew-resize !important;
    user-select: none;
  }
}
#root {
  margin: auto;
  max-width: 52rem;
}
h1 {
  margin-top: 0;
}
svg {
  width: 100%;
}
.app {
  display: flex;
}

// ---
// HUD
// ---

.settings {
  display: flex;
  flex-flow: column;
  background-color: $grey-0;
  color: $grey-6;
  border-radius: 0.2rem;
  padding: 2rem;
  width: 22rem;
}
.osc {
  display: flex;
  line-height: 2rem;
  .title {
    margin-right: 1rem;
    display: block;
    @extend %sc;
  }
  .fader {
    margin: 0 0 0 1rem;
    flex: 1;
  }
}
.midi-manufacturer {
  margin-right: 0.5rem;
}
.midi-manufacturer,
.quality {
  font-family: $sc;
  text-transform: lowercase;
  color: $orange-bright;
}
.hide-input {
  display: none;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  fill: none;
  stroke: $grey-1;
  stroke-width: 2px;
  stroke-linecap: round;
  transition: 0.2s ease;
}
:checked + .icon {
  stroke: $grey-6;
}
.envelope {
  max-width: 16rem;
  .envelope-path {
    overflow: visible;
    margin: 2rem 0;
    stroke: $grey-3;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .dot {
    fill: $grey-0;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
  }
}
.fader {
  margin: 1rem 0;
  &.small {
    label {
      display: flex;
      flex-flow: row wrap;
    }
    svg {
      display: inline-block;
      margin-right: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
  label {
    display: block;
    cursor: ew-resize;
    @extend %sc;
  }
  .label-text{
    display: block;
    width: 100%;
  }
  svg {
    display: block;
    margin: 0.5rem 0;
    width: 3rem;
    height: 3rem;
    &:hover {
      .fader-knob {
        opacity: 1;
      }
    }
    .fader-knob {
      transition: 0.2s ease;
      fill: $grey-1;
      opacity: 0;
    }
    .fader-track {
      stroke: $grey-1;
    }
    .fader-value {
      stroke: $grey-6;
    }
  }
  path {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  input {
    display: block;
    appearance: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    flex: 1;
  }
}
.tri {
  width: calc(100% / 3);
}
input {
  width: 100%;
}

// ----
// Keystack
// ----

.play-area {
  margin-right: 2rem;
  width: calc(100% - 24rem);
}
.note-hud {
  display: flex;
}
.icon--eye{
  transform: translateY(-0.5rem);
  flex: 0;
  &.on {
    fill: $grey-0;
  }
  margin-right: 0.5rem;
}
.viewer {
  height: 1.2rem;
  margin-bottom: 0.5rem;
}
.note-viewer {
  font-weight: 700;
  // font-size: 0.8rem;
}
.chord-viewer {
  line-height: 1.5;
}
.notes {
  display: inline-block;
  margin-right: 0.25rem;
}
.chord {
  margin-right: 0.5rem;
}

.axis {
  & path {
    fill: none;
    stroke: #999;
    stroke-dasharray: 2 3;
  }
  & text {
    font-size: 13px;
    fill: $grey-0;
  }
}
text.title {
  font-size: 24px;
}
circle.tick {
  fill: $grey-5;
  stroke-dasharray: 2 3;
}
path.spiral {
  fill: none;
  stroke-width: 14px;
  transition: 0.3s ease-out;
  &.black {
    stroke: $grey-0;
  }
  &.white {
    stroke: $grey-6;
  }
  &.on {
    transition: 0s ease;
    stroke: $orange;
  }
}

// ----
// Help
// ----

.help {
  display: flex;
  justify-content: flex-start;
  section {
    margin-right: 2rem;
  }
}
kbd {
  font-family: inherit;
  text-transform: uppercase;
  background: $grey-0;
  color: $grey-5;
  width: 1rem;
  height: 1rem;
  font-size: 0.6rem;
  line-height: 1rem;
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0.2rem;
  text-align: center;
}
.keyboard {
  .row {
    display: flex;
    justify-content: center;
    kbd {
      border-width: 1px;
      border-style: solid;
      margin: 0.1rem;
      &[disabled] {
        opacity: 0.2;
      }
    }
    &.black {
      kbd {
        border-color: $grey-0;
      }
    }
    &.white {
      kbd {
        color: $grey-0;
        background: $grey-6;
        border-color: $grey-4;
      }
    }
  }
}
